/* --- Reset  ---- */

ol, ul {
	list-style: none;
}

a{
  text-decoration: none;
}

/*title-font*/

@font-face {
  font-family: 'bellabooregular';
  src: url('bellaboo-webfont.woff2') format('woff2'),
       url('bellaboo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* --- Layout  ---- */

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Andika New Basic', Sans-serif;
    font-size: 1.5rem;
}
h1,h2 {
  font-family: "bellabooregular",Sans-serif;
  font-size: 2.5rem;
}



/* --- Menú  ---- */

.logo img{
    display:flex;
    height:3rem;
    position:relative;
    margin-top:6rem;
    padding-left: 1rem;
}
.nav{
    left:80px;
    display:flex;
    position:relative;
    font-size:1x;
    justify-content:space-around;
    box-sizing: content-box;
}
 


/* --- seccion1  ---- */

.mision-all {
  background-color: #e8ebf1;
  border-radius: 4rem;
  display:flex;
  padding: 3rem;
  flex-direction: column;
  align-content: space-between;
}
  .mision-elements {
    padding: 1rem 2rem;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .mision-rectangle {
    background-color: #e9b5b3;
    width: 12rem;
    height: 6rem;
    margin: 1rem;
    position:relative;
    display: flex;
    justify-content: center;
  }
  .mision-rectangle:after {
    content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      right: -20px;
      bottom: -30px;
      border: 1px solid black;
    }
  .hands {
    width: 15rem;
    margin: 1.5rem;
  }
  .mision-text {
    text-align: center;
   }



  @media (min-width:700px) {


.mision-elements {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.mision-rectangle {
  background-color: #e9b5b3;
  width: 18rem;
  height: 6rem;
  position:relative;
  display: flex;
  justify-content: center;
}
.mision-text {
  
  display: flex;
  justify-content: center;
}
.mision-rectangle:after {
content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: -20px;
  bottom: -30px;
  border: 1px solid black;
}
.hands {
  width: 30rem;
}
  }


/* --- seccion2 ---- */

.historia-all{
  background-color: rgb(255, 255, 255);
  border-radius: 4rem;
  display:flex;
  padding: 3rem;
  flex-direction: column;
  align-content: space-between;
}
.historia-elements{
  padding: 1rem 2rem;
  display:flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}
.historia-box{
  background-color: #e9b5b3;
  width: 12rem;
  height: 6rem;
  margin: 1rem;
  position:relative;
  display: flex;
  justify-content: center;
}
.historia-box:after{
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: -20px;
  bottom: -30px;
  border: 1px solid black;
}  



  /* --- seccion3 ---- */

.idea-all{
  background-color: #e8ebf1;
  border-radius: 4rem;
  display:flex;
  padding: 3rem;
  flex-direction: column;
  align-content: space-between;
}
.idea-elements{
  padding: 1rem 2rem;
  display:flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}
.idea-box{
  background-color: #e9b5b3;
  width: 12rem;
  height: 6rem;
  margin: 1rem;
  position:relative;
  display: flex;
  justify-content: center;
}
.idea-box:after{
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: -20px;
  bottom: -30px;
  border: 1px solid black;
}    
.idea-text{
  display: flex;
  justify-content: center;
}

/* --- parte de las images y texto debajo ---- */

.idea-circles{
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 4rem;
}
.equipos-diversos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 4%;

  width: 30%;
  border-radius: 50%;
  margin-bottom: 7%;
}
.accesibilidad{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;

  width: 30%;
  border-radius: 50%;
  margin-bottom: 7%;
}
.medio-ambiente{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;

  width: 30%;
  border-radius: 70%;
  margin-bottom: 7%;
}





/* --- Proyectos ---- */


#proyectos {
  padding: 4rem;
}
.proyectos-box {
  background-color: #e9b5b3;
  width: 12rem;
  height: 6rem;
  margin: 1rem;
position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}
.proyectos-box:after {
  content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: -20px;
    bottom: -30px;
    border: 1px solid black;
  }
 .imagenes-box {
   padding: 4rem;
 }

.imagenes-proyectos{

  background-image: url("../images/Fondo\ madera\ seccion\ proyectos.jpeg");
  border-radius: 0.5rem;
  background-repeat:repeat;
  padding: 2.6rem;
  text-align: center;

}

.imagenes-proyectos>li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  


}


.imagenes-proyectos>li:hover{
  top:0px;
  opacity:0.5;
}

.imagenes-proyectos>li:nth-child(1){
    transform:rotate(10deg);
}

.imagenes-proyectos>li:nth-child(2){
    transform:rotate(0deg);
}

.imagenes-proyectos>li:nth-child(3){
    transform:rotate(-10deg);
}

.imagenes-proyectos>li:nth-child(4){
    transform:rotate(20deg);
}

.imagenes-proyectos>ul>li>p{
  margin:-15px 0 0 0;
}

.light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  background:#fff;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
}



/* --- Miembros ---- */
/* Globals */
.container {
  background-color: #e8ebf1;
  border-radius: 4rem;
  display:flex;
  padding: 4rem;
  flex-direction: column;
  align-content: space-between;
  
  }
  
 
  .miembros-box {
    background-color: #e9b5b3;
    width: 12rem;
    height: 6rem;
    margin: 1rem;
    position:relative;
    display: flex;
    justify-content: center;
    color:#000;
    margin:auto;
  
    }

  .miembros-box:after {
      content: "";
        position: absolute;
        top: 30px;
        left: 30px;
        right: -20px;
        bottom: -30px;
        border: 1px solid black;
  }
    
    

  }
  .boxh2>h2 {
    font-size: 2.6rem;
  }
  article > h2 {
    max-width: 20ch;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
    
  }
  
  
  p {
    max-width: 60ch;
  }
  
  a {
    color: currentcolor;
  }
  
  /* Utilities */
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--auto-grid-min-size, 14rem), 1fr)
    );
    grid-gap: var(--auto-grid-gap, 2rem);
    padding: 0;
  }
  
 .auto-grid {
   margin-top: 8rem;
 }
  
  /* Composition */
  .team {
    --flow-space: 2em;
  }
  
  /* Blocks */
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: #ffffff;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
  }
  
  .profile::before,
  .profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /*inset: 0;*/
    top: 0;
    left: 0;
  }
  
  .profile::before {
    background: linear-gradient(
      to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
    );
    transition: 300ms opacity linear;
    z-index:1;
  }
  
  .profile::after {
    background: linear-gradient(
      45deg,
      hsl(5 97% 63% / 0.7) 0,
      hsl(5 97% 63% / 0) 100%
    );
    opacity: 0;
    transition: 300ms opacity linear;
  }
  
  .profile > * {
    z-index: 2;
  }
  
  .profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
  }
  
  .profile h2,
  .profile p {
    transform: translateY(2ex);
  }
  
  .profile h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
  }
  
  .profile p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .profile p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
  }
  
  .profile:focus {
    outline: 0.5rem solid white;
    outline-offset: -0.5rem;
  }
  
  .profile:hover :is(h2, p),
  .profile:focus :is(h2, p) {
    transform: none;
  }
  
  .profile:hover::after,
  .profile:focus::after,
  .profile:hover::before,
  .profile:focus::before {
    opacity: 0.7;
  }
  
  .profile:hover p,
  .profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
  }
  
  .profile:hover img,
  .profile:focus img {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
  }
  







