/* --- Menú  ---- */
.logo img{
    display:flex;
    height:3rem;
    position:relative;
    margin-top:6rem;
    padding-left: 1rem;

}
.nav{
    left:80px;
    display:flex;
    position:relative;
    font-size:1x;
    justify-content:space-around;
    box-sizing: content-box;
}
 
/* --- seccion1  ---- */


/* --- seccion2 ---- */



/* --- seccion3 ---- */




/* --- seccion4 ---- */





/* --- seccion5 ---- */







